* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 20px #aaaaaa;
}

body {
  background-size: cover;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
main {
  padding: 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.top {
  display: flex;
  justify-content: space-between;
}
h1.time {
  text-align: center;
  font-size: 5rem;
}
ul {
  list-style-type: none;
}
div#crypto {
  font-size: 1.3em;
}
div#crypto > ul {
  margin: 0;
  padding-left: 0;
}

div#crypto-top {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
div#crypto-top span {
  margin-left: 0.5em;
}

div#weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-self: flex-start;
}
div#weather > img {
  width: 6em;
}
.location {
  margin: 0;
  width: 100%;
  text-align: right;
  margin-top: -1em;
  font-size: 1.2rem;
}
p.temp {
  font-size: 2em;
  margin: 0;
  margin-left: -0.4em;
}
p#author {
  font-size: 1rem;
}
